<p>Hello <%= @user.email %> !</p>

<p>You are added in "<%= @user.organisation.name.upcase %>" as Teacher please login and check your timetable </p>

<p>
  <a href="<%= APP_URL %>">Check account</a>
</p>
