<p>Hello <%= @g_teacher.name %>!</p>

<p>Please open below link for create eraCord account</p>
<p>
  <a href="<%= APP_URL %>/g_teachers/sign_up?&email_token=<%= @g_teacher.email_code %>">Click Here</a>
</p>
