<p>Hello <%= @teacher.name %>!</p>

<p>You are removed by "<%= @teacher.organisation.name.upcase %>" organisation as teacher. Please check your eracord account.</p>
<p>
  <a href="<%= APP_URL %>">Check account</a>
</p>

