<p>Hello <%= @user.email %>!</p>
<br />
<p><%= @user.organisation.name %> has aded you as clerk in this Organisation.</p>

<p>If you have any query please contact to eracord or <%= @user.organisation.name %> admin or <%= @user.organisation.mobile %></p>


