
<header id="header">
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand slientLink" href="#home">
	  <img class="img-responsive" src="https://s3.amazonaws.com/Eracord/Eracord/images/eracord.png" alt="logo" style="max-height:50px;">
	  <!--<span style="font-size: 35px;color: #FFF;line-height: 1em;font-weight: bold;">eraCord</span>-->
	</a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="scroll"><a href="#home">Home</a></li>
          <li class="scroll"><a href="#about">About</a></li>
          <li class="scroll"><a href="#features">Features</a></li>
          <li class="scroll"><a href="#services">Services</a></li>
          <li class="scroll"><a href="#our-team">Team</a></li>
          <li class="scroll"><a href="#business-stats">Business</a></li>
          <li class="scroll"><a href="#contact-us">Contact</a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<!--/header-->

<section id="hero-banner">
  <p id="notice" class="alert alert-success <%= 'hide' unless notice.present? %>"><%= notice %></p>
  <div class="banner-inner" id="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Connecting the Dots</h2>
          <p>MIS for Colleges, schools and coaching classes</p>
	  <a class="btn btn-primary btn-lg" href="<%= CONSOLE_URL %>">Sign IN</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#main-slider-->

<section id="about">
  <div class="container">

    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated orgTitle"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Organize your organization</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	A common platform for teachers, institution and administrative departments to work towards a common goal of helping the students to learn and score better which in turn improves their performance. Working on four basic functions - planning, organizing, controlling and motivating, it helps you achieve a competitive output.
      </p>
    </div>

    <div class="row">
      <div class="col-sm-6 wow fadeInLeft animated"
           style="visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
        <img class="img-responsive" src="https://s3.amazonaws.com/Eracord/Eracord/images/about.png" alt="about">
      </div>
      <div class="col-sm-6 wow fadeInRight animated"
           style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
        <h3 class="column-title">About Eracord</h3>
        <p>
	  Eracord helps students, teachers, institutions/organizations and administrative departments to transform the management
	  of the organization maintaing a heirarchial level in order to provide the next generation with new learning experiences
	  that opens door to academic achievements and opportunities.
	</p>
	<p>
	  Maintaining a heirarchial connectivity, students are connected to teachers and institutions/organizations by keeping a 
	  record of personal as well as academic data of students. It also helps maintaining daily teaching records of teachers 
	  which would be taken care by administrative desk.
	</p>
	<p>
	  It also helps maintain a common dialogue between students and parents by letting parents know their child's personal
	  daily/weekly/monthly academic reports with graphical visualizations.
	</p>
        


        <a class="btn btn-primary" href="#">Learn More</a>

      </div>
    </div>
  </div>
</section>
<!--/#about-->


<section id="features">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Eracord Features</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	When most organizations become fed up with the effort of trying to manage their learning initiatives using pen and paper, spreadsheets, and various stone-age tools, Eracord rather aim to provide learners with quality content in many different formats and learning modalities.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-rss"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Common Interactive Platform</h4>
	    <p>
	       A platform which contains all information about the students, teachers, administrators and parents to have an interaction among them. Interaction could be done on the basis of electronic mails or text messages or both
	    </p>
          </div>
        </div>
	<div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-cloud-upload"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">User Data Administration</h4>
	    <p>
	      Each and every user has it's own rights of viewing records of data.
	    </p>
          </div>
        </div>
	<div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-line-chart"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Performance Management</h4>
	    <p>
	      A common platform for students, teachers, administrators and parents to interact with each other knowing the performance of students as well as teachers based on their daily/weekly/monthly records of data. Students to be rated on based of their attendance and performance in exams. Teachers to be rated based on their attendance and feedback given by students. Parents can consult about their students and know their daily attendance and exam reports through E-mail/SMS
	    </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
	<div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-cogs"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Reports Generation</h4>
	    <p>To keep a consistent track of primarily student's performance and secondarily teacher's performance, reports are generated according to the data
  available with the administrator. Reports are generated in the form of excel sheet and graphs
	    </p>
	    
          </div>
        </div>
        <div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-cloud-upload"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Eco Friendly</h4>

	    <p>Organize can generate graphical, excel, and pdf reports of daily works at a unit for feed back and record. Reports include the student wise/class wise/subject wise reports to improve the routine work. </p>
          </div>
        </div>
	<div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-cloud-upload"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Fee/Payment Management</h4>
	    <p>
	      Half yearly/Yearly fees of a student to be calculated and send as an SMS to parents regarding submission of fees based on semester-wise or year-wise students need not have a bank account to pay their fees.
	    </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">

    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Eracord Services</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	Eracord has the resources, tools and methodologies to get your organization up and running, both quickly and professionaly. No one can match our expertise. And that’s why we are known for providing the robust learning services in the business.
      </p>
    </div>

    <div class="row">
      <div class="features">
        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-futbol-o"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Mobile App</h4>

	      <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters
                greater</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="100ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 100ms; -webkit-animation-delay: 100ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-compass"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Custom App</h4>

	      <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters
                greater</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="200ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 200ms; -webkit-animation-delay: 200ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-database"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">E-Commerce</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-bar-chart"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">CMS App</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="400ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 400ms; -webkit-animation-delay: 400ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-paper-plane-o"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Product Dev</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="500ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 500ms; -webkit-animation-delay: 500ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-bullseye"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">SharePoint</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
<!--/#services-->

<section id="our-team">
  <div class="container rbg">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Eracord Team</h2>
      <p class="wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	Eracord delivers on its vision for the future of learning with a stable groundwork of talent, capability and cross-cultural attention. Each of our leaders contributes 10 or more years of relevant experience in software and e-learning technology.
      </p>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="0ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="" alt="swapnil">
          </div>
          <div class="team-info">
	    <h3>Swapnil Patil</h3>
	    <span>Founder & CEO</span>
          </div>
          <ul class="social-icons">
	    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="100ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 100ms; -webkit-animation-delay: 100ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="" alt="Vaibhav">
          </div>
          <div class="team-info">
	    <h3>Vaibhav</h3>
	    <span>Architect</span>
          </div>
          <ul class="social-icons">
	    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="200ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 200ms; -webkit-animation-delay: 200ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="" alt="Satish">
          </div>
          <div class="team-info">
	    <h3>Satish Kadam</h3>
	    <span>Developer</span>
          </div>
          <ul class="social-icons">
	    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="300ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="https://s3.amazonaws.com/Eracord/Eracord/images/want_you.png" alt="want you">
          </div>
          <div class="team-info">
	    <h3>?</h3>
	    <a href="mailto:admin@eracord.com?subject=Resume">Send mail with resume</a>
          </div>
          <ul class="social-icons">
	    <li><div style="line-height:32px;">&nbsp;</div></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<!--/#our-team-->

<section id="business-stats">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Business</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;"></p>
    </div>

    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="0ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="6850" data-duration="1000">6850</div>
          <strong>Organisations</strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="100ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 100ms; -webkit-animation-delay: 100ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="1465" data-duration="1000">1465</div>
          <strong>Students</strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="200ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 200ms; -webkit-animation-delay: 200ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="4325" data-duration="1000">4325</div>
          <strong>Exams</strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="300ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="2568" data-duration="1000">2568</div>
          <strong>Scholarships</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#business-stats-->

<section id="mobile-app">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Eracord Apps</h2>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
	<h2>Teacher's app</h2>
	<p class="wow fadeInDown animated"
           style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	  Eracord Teacher's App is a mobile application that helps a teacher to do minimal daily important activities without using the web application.
	</p>
	<img src="https://s3.amazonaws.com/Eracord/Eracord/images/era_mobile.png" />
	<br />
	<a target="_blank" href="https://play.google.com/store/apps/details?id=com.eracordapp.teacher.sample&hl=en"><img class="googleImg" src="https://s3.amazonaws.com/Eracord/Eracord/images/google_play.png" /></a>
	<br />
	<a target="_blank" href="https://s3.amazonaws.com/Eracord/Eracord/Docs/eracord_mobile_app.pdf">Download documentation</a>
      </div>
    
      <div class="col-md-6">
	<h2>Desktop's app</h2>
	<p class="wow fadeInDown animated"
           style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	  Eracord Desktop's App is a desktop application that helps for presentee automation. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</p>
	<img src="https://s3.amazonaws.com/Eracord/Eracord/images/desktop.png" style="max-width:100%;"/>
	<br />
	<a href="#">Download Desktop app</a>
      </div>
    </div>
  </div>
</section>
<!--/#business-stats-->



<section id="contact-us">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Contact Us</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	For life time Free join with us please drop your note on our site we will contact soon<br />
	Thank you
      </p>
    </div>
  </div>
</section>
<!--/#contact-us-->


<section id="contact">

  <div class="container">
    <div class="container contact-info">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="contact-form">
	    <h3>Contact Info</h3>

	    <address>
	      <h1><small>EraCord<small></h1>
	      Swapnil Patil<br>
	      India<br>
	      <abbr title="Phone">Phone:</abbr> (+91) 9850840777
	    </address>
          </div>
        </div>
        <div class="col-sm-8 col-md-8">
          <div class="contact-form">

	    <form id="main-contact-form" name="contact-form" method="post" action="#">
	      <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name" required="">
	      </div>
	      <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required="">
	      </div>
	      <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required="">
	      </div>
	      <div class="form-group">
                <textarea name="message" class="form-control" rows="8" placeholder="Message" required=""></textarea>
	      </div>
	      <button type="submit" class="btn btn-primary">Send Message</button>
	    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#bottom-->

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        © 2017 EraCord.
      </div>
      <div class="col-sm-6">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/eracord" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/eracord04" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->


