
<header id="header">
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand slientLink" href="#home"><span style="font-size: 35px;color: #FFF;line-height: 1em;font-weight: bold;">EraCord</span></a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="scroll"><a href="#home">Home</a></li>
          <li class="scroll"><a href="#about">About</a></li>
          <li class="scroll"><a href="#features">Features</a></li>
          <li class="scroll"><a href="#services">Services</a></li>
          <li class="scroll"><a href="#our-team">Team</a></li>
          <li class="scroll"><a href="#business-stats">Business</a></li>
          <li class="scroll"><a href="#contact-us">Contact</a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<!--/header-->

<section id="hero-banner">
  <div class="banner-inner" id="home">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>EraCord Organise Manager</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
	    dolore.</p>
          <a class="btn btn-primary btn-lg slientLink" href="<%= CONSOLE_URL %>">Free Sign UP</a>
	  <a class="btn btn-primary btn-lg" href="<%= CONSOLE_URL %>">Sign IN</a>

        </div>
      </div>
    </div>
  </div>
</section>
<!--/#main-slider-->

<section id="about">
  <div class="container">

    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Organize your organization. </h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	An education organization has to work on multiple levels such as administration, studetns, teachers, parents, and other organizations. It can less the effective dialogue among all these stakeholders due to time space. This product helps you to make the administration of your organization effective and students and organization oriented. It creates and connects the organization from all the desks of the organization. 
      </p>
    </div>

    <div class="row">
      <div class="col-sm-6 wow fadeInLeft animated"
           style="visibility: visible; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
        <img class="img-responsive" src="assets/about.png" alt="">
      </div>

      <div class="col-sm-6 wow fadeInRight animated"
           style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
        <h3 class="column-title">About Product</h3>

        <p>Eracord connects parents, students, teachers, institution, and administration at a click and facilitate them to save time and space to make future of students and organization. </p>
	<p>It helps organization to record the data of students thoroughly and creates the byway dialogue between organization and parents to make with effective communication</p>
	<p>
	  It also helps to increase comprehensive dialogue between students and teachers with the digital observation and feedback of parents. 
	</p>
        


        <a class="btn btn-primary" href="#">Learn More</a>

      </div>
    </div>
  </div>
</section>
<!--/#about-->


<section id="features">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Our Features</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	An organize can use this product on multiple levels. It helps you to create multiple operations on one page of your organization. It has following features:
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-rss"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Select Courses</h4>
	    <p>
	      Eracord provides a global list of courses for organization. An organization has to select the courses run by it to make a complete class/standard/course wise administration unit.
	    </p>
          </div>
        </div>
	<div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-line-chart"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Management of Sub units</h4>

	    <p>Organization allots the management of administration of sub units to data entry operator or administrator. Data entry operator’s works are such as create exam, verify exam, add absent, add result, verify, publish, add daily catalogue, resources management such as teachers’ works and other details and as per the need of organization.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
	<div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-cogs"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Create Organization Unit</h4>
	    <p>Organization creates sub units on multiple levels under its main unit for administration. These sub organization units can be class wise/subject wise/department wise/course wise. </p>
	    
          </div>
        </div>
        <div class="media service-box wow fadeInRight animated"
	     style="visibility: visible; animation-name: fadeInRight; -webkit-animation-name: fadeInRight;">
          <div class="pull-left">
	    <i class="fa fa-cloud-upload"></i>
          </div>
          <div class="media-body">
	    <h4 class="media-heading">Report Generation</h4>

	    <p>Organize can generate graphical, excel, and pdf reports of daily works at a unit for feed back and record. Reports include the student wise/class wise/subject wise reports to improve the routine work. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services">
  <div class="container">

    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Our Services</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
    </div>

    <div class="row">
      <div class="features">
        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-futbol-o"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Mobile App</h4>

	      <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters
                greater</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="100ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 100ms; -webkit-animation-delay: 100ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-compass"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Custom App</h4>

	      <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters
                greater</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="200ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 200ms; -webkit-animation-delay: 200ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-database"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">E-Commerce</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="300ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-bar-chart"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">CMS App</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="400ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 400ms; -webkit-animation-delay: 400ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-paper-plane-o"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">Product Dev</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->

        <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="500ms"
	     style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 500ms; -webkit-animation-delay: 500ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="media service-box">
	    <div class="pull-left">
	      <i class="fa fa-bullseye"></i>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">SharePoint</h4>

	      <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend
                ipsum.</p>
	    </div>
          </div>
        </div>
        <!--/.col-md-4-->
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</section>
<!--/#services-->

<section id="our-team">
  <div class="container rbg">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Team</h2>
      <p class="wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Description</p>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="0ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="assets/1.jpg" alt="">
          </div>
          <div class="team-info">
	    <h3>Thanh Do</h3>
	    <span>Ha noi</span>
          </div>
          <ul class="social-icons">
	    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="100ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 100ms; -webkit-animation-delay: 100ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="assets/2.jpg" alt="">
          </div>
          <div class="team-info">
	    <h3>Thu Minh</h3>
	    <span>President</span>
          </div>
          <ul class="social-icons">
	    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="200ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 200ms; -webkit-animation-delay: 200ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="assets/3.jpg" alt="">
          </div>
          <div class="team-info">
	    <h3>Tuan Phong</h3>
	    <span>Architect</span>
          </div>
          <ul class="social-icons">
	    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-member wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="300ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="team-img">
	    <img class="img-responsive" src="assets/4.jpg" alt="">
          </div>
          <div class="team-info">
	    <h3>Hai Chu</h3>
	    <span>Manager</span>
          </div>
          <ul class="social-icons">
	    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section>
<!--/#our-team-->

<section id="business-stats">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Business</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Lorem ipsum dolor
        sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br> semper aliquam quis mattis quam.</p>
    </div>

    <div class="row text-center">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="0ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="6850" data-duration="1000">6850</div>
          <strong>Clients</strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="100ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 100ms; -webkit-animation-delay: 100ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="1465" data-duration="1000">1465</div>
          <strong>Completed</strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="200ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 200ms; -webkit-animation-delay: 200ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="4325" data-duration="1000">4325</div>
          <strong>In Progress</strong>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="300ms"
	     style="visibility: visible; animation-duration: 400ms; -webkit-animation-duration: 400ms; animation-delay: 300ms; -webkit-animation-delay: 300ms; animation-name: fadeInUp; -webkit-animation-name: fadeInUp;">
          <div class="business-stats" data-digit="2568" data-duration="1000">2568</div>
          <strong>Revenue</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#business-stats-->



<section id="contact-us">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">Contact Us</h2>

      <p class="wow fadeInDown animated"
         style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
	For life time Free join with us please drop your note on our site we will contact soon<br />
	Thank you
      </p>
    </div>
  </div>
</section>
<!--/#contact-us-->


<section id="contact">

  <div class="container">
    <div class="container contact-info">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <div class="contact-form">
	    <h3>Contact Info</h3>

	    <address>
	      <strong>EraCord.</strong><br>
	      Swapnil Patil<br>
	      India<br>
	      <abbr title="Phone">Phone:</abbr> (+91) 9850840777
	    </address>
          </div>
        </div>
        <div class="col-sm-8 col-md-8">
          <div class="contact-form">

	    <form id="main-contact-form" name="contact-form" method="post" action="#">
	      <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name" required="">
	      </div>
	      <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email" required="">
	      </div>
	      <div class="form-group">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required="">
	      </div>
	      <div class="form-group">
                <textarea name="message" class="form-control" rows="8" placeholder="Message" required=""></textarea>
	      </div>
	      <button type="submit" class="btn btn-primary">Send Message</button>
	    </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#bottom-->

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        © 2015 EraCord.
      </div>
      <div class="col-sm-6">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->


