
<header id="header">
  <nav id="main-nav" class="navbar navbar-default navbar-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand slientLink" href="#phaseI">
	  <img class="img-responsive" src="https://s3.amazonaws.com/Eracord/Eracord/images/eracord.png" alt="logo" style="max-height:50px;">
	  <!--<span style="font-size: 35px;color: #FFF;line-height: 1em;font-weight: bold;">eraCord</span>-->
	</a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="scroll"><a href="#phaseI">Phase I</a></li>
          <li class="scroll"><a href="#phaseII">Phase II</a></li>
	  <li class="scroll"><a href="#phaseIII">Phase III</a></li>
          <li class="scroll"><a href="#phaseIV">Phase IV</a></li>
          <li class="scroll"><a href="#phaseV">Phase V</a></li>
	  <li class="scroll"><a href="#phaseVI">Phase VI</a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<!--/header-->

<h2 class="text-center" style="color:#999;">Eracord Development Phases</h2>
<section id="phaseI" class="phases">
  <h2 class="container">Phase I - <small>Organisation Desk</small></h2>
  <div>
    <img src="/Phase1.png"/>
  </div>
  <div class="container">
    <ul>
      <li class="col-xs-12">
	Organisation / College / School / Private coaching
	<ul class="incol">
	  <li class="list-group-item col-xs-4">
	    Class management
	  </li>
	  <li class="list-group-item col-xs-4">
	    Student management 
	  </li>
	  <li class="list-group-item col-xs-4">
	    Teacher Management
	  </li>
	  <li class="list-group-item col-xs-4">
	    Account Management 
	  </li>
	  <li class="list-group-item col-xs-4">
	    Hostel Management
	  </li>
	  <li class="list-group-item col-xs-4">
	    Standard management 
	  </li>
	  <li class="list-group-item col-xs-4">
	    Batch Management
	  </li>
	  <li class="list-group-item col-xs-4">
	    Attendance Management 
	  </li class="list-group-item col-xs-4">
	  <li class="list-group-item col-xs-4">
	    Exam Management 
	  </li>
	  <li class="list-group-item col-xs-4">
	    Off class management 
	  </li>
	  <li class="list-group-item col-xs-4">
	    Class rooms Management 
	  </li>
	  <li class="list-group-item col-xs-4">
	    Meeting Management
	  </li>
	  <li class="list-group-item col-xs-4">
	    SMS Management
	  </li>
	</ul>
      </li>
      <li class="col-xs-12">
	Teacher
	<ul>
	  <li class="list-group-item col-xs-4">
	    Mobile App
	  </li>
	  <li class="list-group-item col-xs-4">
	    Presentee Automation
	  </li>
	</ul>
      </li>
      <li class="col-xs-12">
	Student
	<ul>
	  <li class="list-group-item col-xs-12">
	    Presentee Automation
	  </li>
	</ul>
      </li>
    </ul>
    <a  href="#phaseII" class="slientLink btn btn-primary pull-right marginT20">Next Phase</a>
  </div>
</section>
<!--/#phase I-->


<section id="phaseII" class="phases">
  <h2 class="container">Phase II - <small>Parent  Desk</small></h2>
  <div><img src="/Phase2.png"/></div>
  <div class="container">
    <ul>
      <li>
	Parent Mobile app
	<ul>
	  <li class="list-group-item col-xs-12">
	    Parent Mobile app for watching Student activity (college/ school/Private couching)
	  </li>
	</ul>
      </li>
    </ul>
    <a  href="#phaseI" class="slientLink btn btn-primary pull-right marginT20 marginB20">Back to Top</a>
  </div>
</section>



<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        © 2016 EraCord.
      </div>
      <div class="col-sm-6">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/eracord" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/eracord04" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->


