
<header id="header">
  <nav id="main-nav" class="navbar navbar-default navbar-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand slientLink" href="#home">
	  <img class="img-responsive" src="https://s3.amazonaws.com/Eracord/Eracord/images/eracord.png" alt="logo" style="max-height:50px;">
	  <!--<span style="font-size: 35px;color: #FFF;line-height: 1em;font-weight: bold;">eraCord</span>-->
	</a>
      </div>

      <div class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
          <li class="scroll"><a href="#phaseI">Phase I</a></li>
          <li class="scroll"><a href="#phaseII">Phase II</a></li>
          <li class="scroll"><a href="#PhaseIII">Phase III</a></li>
          <li class="scroll"><a href="#phaseIV">Phase IV</a></li>
          <li class="scroll"><a href="#phaseV">Phase V</a></li>
          <li class="scroll"><a href="#PhaseVI">Phase VI</a></li>
        </ul>
      </div>
    </div>
    <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<!--/header-->

<section id="phaseI" class="phases">
  <h2>Phase I</h2>
  <div>
    <img src="/Phase1.png"/>
  </div>
  <ul>
    <li>
      Organisation
      
      <ul>
	<li>
	  Manage Class
	</li>
	<li>
	  Student management 
	</li>
	<li>
	  Teacher Management
	</li>
	<li>
	  Account Management 
	</li>
	<li>
	  Hostel Management
	</li>
	<li>
	  Standard management 
	</li>
	<li>
	  Batch Management
	</li>
	<li>
	  Attendance Management 
	</li>
	<li>
	  Exam Management 
	</li>
	<li>
	  Off class management 
	</li>
	<li>
	  Class rooms Management 
	</li>
	<li>
	  SMS Management
	</li>
	<li>
	  Meeting Management
	</li>
      </ul>
    </li>
    <li>
      Teacher
    </li>
    <li>
      Student
    </li>
    <li class="scroll">
      <a  href="#phaseII">Next Phase</a>
    </li>
  </ul>
  
</section>
<!--/#phase I-->


<section id="phaseII" class="phases">
  <h2>Phase II</h2>
  <div><img src="/Phase1.png"/></div>
</section>

<section id="phaseIII" class="phases">
  <h2>Phase III</h2>
  <div><img src="/Phase1.png"/></div>
</section>

<section id="phaseIV" class="phases">
  <h2>Phase IV</h2>
  <div><img src="/Phase1.png"/></div>
</section>

<section id="phaseV" class="phases">
  <h2>Phase V</h2>
  <div><img src="/Phase1.png"/></div>
</section>

<section id="phaseVI" class="phases">
  <h2>Phase VI</h2>
  <div><img src="/Phase1.png"/></div>
</section>




<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        © 2016 EraCord.
      </div>
      <div class="col-sm-6">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/eracord" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/eracord04" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->


