<header id="header">
  <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand slientLink" href="/">
	  <img class="img-responsive" src="https://s3.amazonaws.com/Eracord/Eracord/images/eracord.png" alt="logo" style="max-height:50px;">
	  <!--<span style="font-size: 35px;color: #FFF;line-height: 1em;font-weight: bold;">eraCord</span>-->
	</a>
      </div>

      
      <!--/.container-->
  </nav>
  <!--/nav-->
</header>
<!--/header-->

<div class="container">
  <h1>Terms of Service</h1>
  <p>&nbsp;</p>
  <p>By using the Eracord website ("Service") you are agreeing to be bound by the following terms and conditions ("Terms of Service"). "The Service provider" is Jay Krishna Softwares Pvt. Ltd. company established under Companies act of 2013 India, located at JK Building Mahadevnagar, Islampur Tal- Walwa, Dist-Sangli, Maharashtra, India.</p>
  <p>&nbsp;</p>
  <p>The service provider reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: https://www.eracord.com/terms_of_service</p>
  <p>&nbsp;</p>
  <p>Violation of any of the terms below will result in the termination of your Eracord account. While service provider prohibits such conduct and content on the service, you understand and agree that the service provider cannot be responsible for the content posted on the service and you nonetheless may be exposed to such materials. You agree to use the service at your own risk.</p>
  <p>&nbsp;</p>
  <h2>Basic Terms</h2>
  <p>&nbsp;</p>
  <p>If you do not agree, you should decline this agreement and immediately stop using the service. Access to the service is permitted only to those that fully agree with the terms and conditions of this Terms of Service agreement.</p>
  <p>You agree that this Terms of Service agreement and the relationship between the parties shall be exclusively governed by the laws of Republic of India without regard to conflict of law principles, or international conventions. The exclusive jurisdiction for any dispute resolution is the Mumbai High court in Maharashtra state of India.</p>
  <p>You must provide your legal full name, a valid email address, and any other information requested in order to complete the sign up process.</p>
  <p>One person may only use your login - a single login shared by multiple people is not permitted. You may create separate logins for as many people as your plan allows.</p>
  <p>You are responsible for maintaining the security of your account and password. The service provider cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</p>
  <p>The client undertakes to maintain full confidentiality over the client's passwords related to the service and the client's account. If the client becomes aware of any unauthorized use of its password or of the client's account, the client must notify the service provider immediately for support at Eracord dot com.</p>
  <p>You are responsible for all content posted and activity that occurs under your account (even when content is posted by others who have accounts under your account).</p>
  <p>You may not use the service for any illegal or unauthorized purpose. You must not, in the use of the service, violate any laws in your jurisdiction (including but not limited to copyright laws).</p>
  <p>The client undertakes not to harass, threaten, abuse or harm the service provider or other users of the service in any way.</p>
  <p>&nbsp;</p>
  <h1>General Conditions</h1>
  <p>&nbsp;</p>
  <p>Your use of the service is at your sole risk. The service is provided on an "as is" and "as available" basis.</p>
  <p>Among other things the service provider does not represent and warranty to the client that:</p>
  <ul>
    <li>The client's use of the service will meet the client's requirements.</li>
    <li>The client's use of the service will be uninterrupted, timely, secure or free from error.</li>
    <li>Any information obtained by the client as a result of the client's use of the service will be accurate, correct, reliable and up to date.</li>
  </ul>
  <p>Defects in the operation or functionality of the service will be corrected.</p>
  <ul>
    <li>Technical support is available via email.</li>
  </ul>
  <p>No warranties (incl. for satisfactory quality, fitness for purpose or conformance with description) apply to the service except to the extent expressly stipulated in the agreement.</p>
  <ul>
    <li>The service provider is not liable for any direct, indirect or consequential damage (incl. loss of profit, loss of data, loss of goodwill or business reputation) of the client which may be incurred to the client in relation with the service, including:</li>
    <li>Damage resulting from any changes which the service provider may make to the service.</li>
    <li>Damage resulting from any permanent or temporary interruption in the provision of the service.</li>
    <li>Damage resulting from deletion of, corruption of, or failure to store, any client's content.</li>
    <li>Damage resulting from the client's failure to provide the service provider with accurate account information.</li>
    <li>Damage resulting from the client's failure to keep the client's password or the details of the client's account secure and confidential.</li>
    <li>You must not modify, adapt or hack the service or modify another website so as to falsely imply that it is associated with the service.</li>
    <li>You understand that service provider uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the service.</li>
    <li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the service, use of the service, or access to the service without the express written permission by service provider.</li>
    <li>The client must indemnify the service provider, its officers, directors, employees, agents, licensors, suppliers, etc. for any and all claims, liabilities, losses, expenses, damage and costs, including attorney's fees, resulting from the breach of the agreement, and from the activities on the client account.</li>
    <li>We may, but have no obligation to, remove content and accounts containing content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.</li>
    <li>The client agrees that the service provider may provide the client with notices, including those regarding changes to the agreement, by email, regular mail, or postings on the service.</li>
    <li>You understand that the technical processing and transmission of the service, including your content, may be transferred unencrypted and involve 
      <br />a. transmissions over various networks; and 
      <br />b. changes to conform and adapt to technical requirements of connecting networks or devices.</li>
    <li>You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.</li>
    <li>You must not transmit any worms or viruses or any code of a destructive nature.</li>
    <li>Nothing in the agreement shall exclude or limit the service provider's liability for damage which may not be lawfully excluded or limited by the laws of Republic of India.</li>
    <li>The failure of service provider to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and service provider and govern your use of the service, superseding any prior agreements between you and service provider (including, but not limited to, any prior versions of the Terms of Service).</li>
    <li>The laws of Republic of India govern the Agreement.</li>
    <li>In case the agreement has been translated into some other language than English and there are contradictions between the English version and the translation, then the English version shall prevail over the translation.</li>
    <li>Any disputes related to the agreement are to be solved by means of negotiations. If the dispute cannot be solved by means of negotiations, the dispute shall be solved in Mumbai High court, Maharashtra, India.</li>
  </ul>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>Questions about the Terms of Service should be sent to admin at Eracord dot com.</p>
  <p>&nbsp;</p>
</div>
