<p>Hello,</p>

<table width="60%">
  <tbody>
    <tr>
      <td width="30%">
	<strong>From</strong>
      </td>
      <td width="70%">
	<%= @feedback.email %>
      </td>
    </tr>
    <tr>
      <td>
	<strong>Title</strong>
      </td>
      <td>
	<%= @feedback.title %>
      </td>
    </tr>
    <tr>
      <td>
	<strong>Message</strong>
      </td>
      <td>
	<%= @feedback.message %>
      </td>
    </tr>
  </tbody>
</table>
