<p>Hello <%= @organisation.name %>!</p>

<p>Please open below link for create eraCord account</p>
<p>
  <a href="<%= APP_URL %>/users/sign_up?&email_code=<%= @organisation.email_code %>">Click Here</a>
</p>
