<p>Hello <%= @organisation.name %>!</p>

<p>Please open below link for registation of EraCord organisation </p>
<p>
  <a href="<%= APP_URL %>/users/sign_up?&email_code=<%= @organisation.email_code %>">Click Here</a>
</p>

<p>Regards,</p>
<p>eraCord</p>
