<!DOCTYPE html>
<html>
<head>
  <title>EraCord</title>
  <meta name="Description" content="Eracord is an common platform for teachers, institution and administrative departments to work towards a common goal of helping the students to learn and score better which in turn improves their performance. Working on four basic functions - planning, organizing, controlling and motivating, it helps you achieve a competitive output.">
  <meta name="Keywords" content="eracord, organisation, institute, school, student, teacher, parent, syllabus, college, india, coaching classes, MIS, software, free, cloud">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%- if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87722537-1', 'auto');
  ga('send', 'pageview');

</script>
<%- end %>
<body>

<%= yield %>

</body>
</html>
