<!DOCTYPE html>
<html>
<head>
  <title>EraCord</title>
  <meta name="Description" content="A common platform for teachers, institution and administrative departments to work towards a common goal of helping the students to learn and score better which in turn improves their performance. Working on four basic functions - planning, organizing, controlling and motivating, it helps you achieve a competitive output.">
  <meta name="Keywords" content="organisation, institute, school, student, teacher, parent, syllabus, college, eracord, india, coaching classes, MIS, software, free, cloud">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
